.skills-main {
  margin-top: 5rem;
}
.skills-container {
  margin-top: 3rem;
  padding-left: 3rem;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
}
.skills-container img {
  height: 6rem;
}
#skills-txt {
  margin-top: 5rem;
  color: lightslategray;
  margin-left: 2rem;
  font-size: 2rem;
}
@media (max-width: 600px) {
  .skills-main {
    margin-top: 3rem;
  }
  .skills-container {
    margin-top: 2rem;
    padding-left: 2rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  .skills-container img {
    height: 3rem;
  }
  #skills-txt {
    font-size: 1rem;
  }
}
