.card-main{
  box-shadow: pink;
}
.bottom-sec{
  display: flex;
  justify-content: space-around;
  margin-top: 0.5rem;
  font-size:1rem;
  cursor: pointer;
} 
.main-img{
  width: 100%;
  height: 100%;
  border-radius: 2rem;
  
}
p{
  font-size: small;
  text-align: justify;
}
.tech-headings{
  margin-top: 1rem;
}
.tech-logo{
  width: 2rem;height: 2rem;
  margin-top: 0.5srem;
}
