@import url('https://fonts.googleapis.com/css2?family=Stick+No+Bills&family=Ubuntu&display=swap');
*{
  margin : 0;
  padding: 0;
  font-family: 'Ubuntu', sans-serif;
}
.App {
  text-align: center;
}
html {
  scroll-behavior: smooth;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


nav{  
  position: absolute;
}
body{
  /* background:#320d3e; */
  background-color: seashell;
  overflow-x: hidden;
  position: absolute ;
}

.row{
  display: flex;
  margin-top: 1rem;
  animation:navAnimation ease 2s;
}
@keyframes navAnimation {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
   }
}

.row #logo{
  color: rgb(148, 169, 173);
  margin-left: 1rem;
  cursor: pointer;
}
.col{
  flex: 50%;
}
header{
  display: flex;
  /* margin-top: 1.5rem; */
  justify-content: flex-end;
  margin-right: 5rem;
}
header nav ul{
  display: flex;
  justify-content: space-between;
}


header ul li{
  list-style: none;
  background-color: seashell;
  border-radius: 15rem;
  padding: 5px;
  margin: 10px;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
 
}
header ul li:hover{

  background-color: #053f3f;
  color: seashell;

}
a{
  text-decoration: none;
  color: black;
}
nav{position: absolute;}
.animation{
  margin-top: 8rem;
}
.animation img{
    width: 100%;
    /* position: relative; */
}
#mountain-img{

  position: relative;
}
#birds-img{
  position: absolute;
  margin-top: 5rem;

} 
.my-name{
  position: absolute;
  width: 100%;
  margin-top: 30rem;
  /* top: 19rem; */
}
.my-name h1{
  font-size: 4rem;
  color: rgb(20, 29, 31);
  justify-content: center;
  text-align: center;
  margin-top: 4rem;
}
.i-build{
  width: 100%;
  /* position: absolute; */
  text-align: center;
  margin-top: 13rem;
}
.i-build h2{
  color: rgb(148, 169, 173);
  font-size: 2rem;
  /* margin-top: 30rem; */

} 
.card-container{
  display: flex;
  margin-left: 2rem;
  animation: cardAnimation ease 5s;
}
@keyframes cardAnimation {
  0% {
    opacity: 0;
  }
  100% {
      opacity: 1;
  }
}
.card{
  flex: 30%;
}

.sec-heading{
  color: rgb(148, 169, 173);
  margin-left: 1rem;
  cursor: pointer;
}

@keyframes textAnimation {

  0%{
      opacity: 0;
  }
  100%{
    opacity: 1;
  }
  
}

.below-mountain{
  background-color: #053f3f;
}