:root{
  --prim-col:cyan;
  --sec-col:grey;
  --nav-font:1.5rem;
}
html{
  scroll-behavior: smooth;
}
body{
  background-color: black;
  color: var(--prim-col);
  overflow-x: hidden;
  cursor: pointer;

}
